*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
margin: 2rem auto;
width: 80vw;
}
body{
    text-align: center;
    height: 100vh;
    width: 100vw;
}

button{
    display: block;
    margin: 2rem auto;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 800;
}
input{
    width: 40vw;
    height: 3rem;
    border: 2px solid black;
    border-radius: 30px;
    /* margin-bottom: ; */
    margin: 2rem auto;
    padding: 0 1rem;
}
#card-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: sans-serif;
}
.card{
    margin: 0 auto;
}
span{
    font-size: 20px;
}
.card span{
    display: block;
    font-size: 3rem;
    font-weight: 900;
   
}

.card div {
    color: red;
}
h3{
    font-style: italic;
    font-size: 2rem;
    font-weight: 900;
    font-family: sans-serif;
    margin-bottom: 2rem ;
}